:host ::ng-deep ::-webkit-scrollbar-thumb:horizontal {
    background-color: #93CECB;
}
:host ::ng-deep ::-webkit-scrollbar-thumb:vertical {
    background-color: #93CECB;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    color: white;
    opacity: 0.8;
    background-color: #93CECB;
}
.dropdown-option {
    display: flex;
    align-items: center;
  }
  .option-buttons {
    margin-left: auto;
  }
  .custom-icon {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }