<div class="bread">
	<div class="breadPage" *ngIf="!breadAnalista">
		<a [routerLink]=" '' ">
            <i class="pi pi-home home" style="font-size: 1.5rem" [style]=" mode ? 'color: white;' : 'color: black;' "></i>
        </a>
		<i class="pi pi-chevron-right" style="font-size: 1" [style]=" mode ? 'color: white;' : 'color: black;' "></i>

		<a>
			<p class="analizar" [style]=" mode ? 'color: white; font-weight: bold;' : 'color: black; font-weight: bold;' " (click)="redirectAnalizar()">Analizar Audios</p>
		</a>
		
		<i class="pi pi-chevron-right" style="font-size: 1" [style]=" mode ? 'color: white;' : 'color: black;' "></i>
		<p [style]=" mode ? 'color: white; font-weight: bold;' : 'color: black; font-weight: bold;' ">Resultados</p>
	</div>

	<div class="breadPage" *ngIf="breadAnalista">
		<a [routerLink]=" '' ">
            <i class="pi pi-home home" style="font-size: 1.5rem" [style]=" mode ? 'color: white;' : 'color: black;' "></i>
        </a>
		<i class="pi pi-chevron-right" style="font-size: 1" [style]=" mode ? 'color: white;' : 'color: black;' "></i>

		<a>
			<p class="analizar" [style]=" mode ? 'color: white; font-weight: bold;' : 'color: black; font-weight: bold;' " (click)="redirectAsignacion()">Asignación de Audios</p>
		</a>
		
		<i class="pi pi-chevron-right" style="font-size: 1" [style]=" mode ? 'color: white;' : 'color: black;' "></i>
		<a>
			<p class="analizar" [style]=" mode ? 'color: white; font-weight: bold;' : 'color: black; font-weight: bold;' " (click)="redirectIndividual()">Individual</p>
		</a>
		<i class="pi pi-chevron-right" style="font-size: 1" [style]=" mode ? 'color: white;' : 'color: black;' "></i>
		<p class="analizar" [style]=" mode ? 'color: white; font-weight: bold;' : 'color: black; font-weight: bold;' " (click)="redirectAsignacion()">Resultado</p>

	</div>

	

</div>

	<div class="maincont">
		<div class="card-result bord" style="max-width: 90%; margin: 0 auto 0px auto;">
			<p class="middle">Resultado de la llamada</p>

			<div class="table">
                <p-table
                    #dt1
                    [value]="dataLlamada"
                    [rowHover]="true"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 250px;" class="headers" *ngFor="let header of headersPrimero">
                                <h5 class="header__txt"> {{header}} </h5>
                            </th>
                        </tr>
                    </ng-template>
        
                    <ng-template pTemplate="body" let-data>
                        <tr class="row">
                            <td class="td">
                                <p> {{data.AHT}} </p>
                            </td>

							<td class="td">
                                <p> {{data.tipo}} </p>
                            </td>

							<td class="td" style="width: 450px;">
                                <p> {{data.asesor}} </p>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>



				<p-table
				#dt1
				[value]="dataDLlamada"
				[rowHover]="true"
				>
					<ng-template pTemplate="header">
						<tr>
							<th style="width: 250px;"  class="headers" *ngFor="let header of headersSegundo">
								<h5 class="header__txt"> {{header}} </h5>
							</th>
						</tr>
					</ng-template>
	
					<ng-template pTemplate="body" let-data>
						<tr class="row">
							<td class="td">
								<p> {{data.supervisor}} </p>
							</td>

							<td class="td">
								<p> {{data.monitoreo}} </p>
							</td>

							<td class="td" style="width: 450px;">
								<p> {{data.id}} </p>
							</td>
						</tr>
					</ng-template>
				</p-table>

				<div class="resumen__llamada">
					<!-- <div class="contenedor__postit">
						<div class="postit">
							<p>Resumen de la llamada detectado por MarIAna</p>
						</div>
					</div> -->


					<div class="resumen">
						<h5>Resumen de la llamada</h5>

						<p style="font-size: 14px;" *ngFor="let parraf of resumenLlamada"> {{parraf}} </p>
					</div>

					<div class="sentimiento__general">
						<h5>Sentimiento General</h5>

						<div class="sentimiento__inf">
							<p class="sentimiento__txt"> {{ justificacion_sentimiento }} </p>
						</div>
						
						<div class="sentimiento__sup">
							<div class="gauge">
								<div class="gauge__body">
								    <div class="gauge__fill" [style.transform]="'rotate('+ rotacionSentimiento + 'turn)'" [style.background]="colorSentimiento"></div>
								  <div class="gauge__cover" >
									<p [style.color]="colorSentimiento">{{sentimientoActual}} </p>
								  </div>
								</div> 
							 </div>

							 <div>
								<img *ngIf="negatividad" class="emoji__img" alt="negatividad" src="../../../assets/img/negatividad.gif">
								<img *ngIf="meh" class="emoji__img" alt="negatividad" src="../../../assets/img/meh.gif">
								<img *ngIf="neutral" class="emoji__img" alt="neutral" src="../../../assets/img/neutral.gif">
								<img *ngIf="slightly" class="emoji__img" alt="slightly" src="../../../assets/img/slightly.gif">
								<img *ngIf="positividad" class="emoji__img" alt="positividad" src="../../../assets/img/positividad.gif">
							</div>
						</div>
					</div>
				</div>

				<div class="divider">

				</div>

				<div class="resultados__grid">
					<div class="tabla__calificaciones" *ngIf="guia != 'guia_set_13' && guia != 'guia_set_14'">
						<div class="calif" *ngFor="let categoria of categoriasIzzi; let i = index">
							<div class="categoria" >
								<h5>{{categoria}}</h5>
							</div>
		
							<div class="table__result">
								<p-table #dt1 [value]="dataLlamada" [rowHover]="true">
									<ng-template pTemplate="header">
										<tr>
										<th class="headers" *ngFor="let header of headersCalificaciones">
											<h5 class="header__txt"> {{header}} </h5>
										</th>
										</tr>
									</ng-template>
							  
									  <ng-template pTemplate="body" let-data>
										<ng-container *ngFor="let subcat of agrupadosPorCategorias[i]; let indice = index">
										<!-- Filas Principales -->
											<tr class="row">
												<td class="rubro__info">
													<div class="icon" *ngIf="subcat[0].nombre_punto != 'esperado' ">
														<div class="icons">
															<i  class="pi pi-plus-circle" style="font-size: 1rem" (click)="variablesHidden[subcat[0].nombre_subcategoria_guion] = !variablesHidden[subcat[0].nombre_subcategoria_guion]" *ngIf="!variablesHidden[subcat[0].nombre_subcategoria_guion]"></i>
															<i class="pi pi-minus-circle" style="font-size: 1rem" (click)="variablesHidden[subcat[0].nombre_subcategoria_guion] = !variablesHidden[subcat[0].nombre_subcategoria_guion]" *ngIf="variablesHidden[subcat[0].nombre_subcategoria_guion]"></i>
														</div>

														<div>
															<p class="p__icon"> {{ subcat[0].nombre_subcategoria }} </p>
														</div>

													</div>
												</td>
												<td class="td">
													<p class="fila__info"> {{ subcat[subcat.length - 1].calificacion }} </p>
												</td>
												
											</tr>
								
										<ng-container *ngIf="variablesHidden[subcat[0].nombre_subcategoria_guion]">
												<tr class="desgloce__row row" *ngFor="let element of subcat; let indiceCat = index">
												<ng-container *ngIf="element.nombre_punto != 'Total'">
													<td class="desgloce__td">
													<p>{{ element.procedimiento }}</p>
													</td>
													<td class="desgloce__td">
													<i [ngClass]="element.calificacion === 'pi pi-times' ? 'red' : 'green'" class="{{ element.calificacion }}" style="font-size: 1rem"></i>
													</td>
												</ng-container>
												</tr>
											
										</ng-container>
										</ng-container>
							  
										<tr class="row subtotal">
												<td class="sub__txt">Subtotal:</td>
												<td class="sub__number">{{totalesCategorias[categoria]}} / {{esperadosCategorias[categoria]}}</td>
										</tr>
									</ng-template>
								</p-table>
		
							</div>
		
						</div>
		
						<div class="total">
							<h5>TOTAL:</h5>
		
							<h6 class="total__number"> {{resultado}} / 100 </h6>
						</div>
					</div>

					<div class="tabla__calificaciones" *ngIf="guia === 'guia_set_13'">
					<!-- Categoría 1 -->
					<div class="calif">
						<div class="categoria"><h5>Apertura y Cierre</h5></div>

						<div class="table__result">
						<p-table [value]="[
							{ rubro:'Presentación', calificacion:5, detalles:[
							{ procedimiento:'El asesor se presentó', ok:true },
							{ procedimiento:'El asesor solicitó nombre y teléfono de contacto', ok:true }
							]},
							{ rubro:'Cierre', calificacion:20, detalles:[
							{ procedimiento:'El asesor preguntó por la localidad para confirmar cobertura', ok:true },
							{ procedimiento:'El asesor preguntó cuántas personas usarán el servicio de internet', ok:true },
							{ procedimiento:'El asesor preguntó que uso le darán al internet (entretenimiento, HO)', ok:true },
							{ procedimiento:'El asesor recomendó un paquete', ok:true }
							]}
						]" [rowHover]="true">
							<ng-template pTemplate="header">
							<tr>
							<th class="headers"><h5 class="header__txt">Rubro</h5></th>
							<th class="headers"><h5 class="header__txt">Calificación</h5></th>
							</tr>
							</ng-template>

							<ng-template pTemplate="body" let-data>
							<tr class="row">
							<td colspan="2">
								<div class="fila-flex">
								<details class="rubro-toggle">
									<summary>
									<span class="toggle-icon"></span>
									<span class="p__icon">{{ data.rubro }}</span>
									</summary>
									<div class="detalles">
									<ul class="lista-detalles">
									<li *ngFor="let d of data.detalles">
										<span>{{ d.procedimiento }}</span>
										<i class="pi"
										[ngClass]="d.ok ? 'pi-check green' : 'pi-times red'"
										style="font-size:1rem"></i>
									</li>
									</ul>
									</div>
								</details>

								<div class="calif-fija">
									<p class="fila__info">{{ data.calificacion }}</p>
								</div>
								</div>
							</td>
							</tr>
							</ng-template>

							<ng-template pTemplate="footer">
							<tr class="subtotal">
							<td class="sub__txt">Subtotal:</td>
							<td class="sub__number">25 / 25</td>
							</tr>
							</ng-template>
						</p-table>
						</div>
					</div>

					<!-- Categoría 2 -->
					<div class="calif">
						<div class="categoria"><h5>Conocimiento del Producto</h5></div>

						<div class="table__result">
						<p-table [value]="[
							{
								rubro: 'Información y asesoría',
								calificacion: 20,
								detalles: [
									{ procedimiento: 'El asesor preguntó por la localidad para confirmar cobertura', ok: true },
									{ procedimiento: 'El asesor preguntó cuántas personas usarán el servicio de internet', ok: true },
									{ procedimiento: 'El asesor preguntó que uso le darán al internet (entretenimiento, HO)', ok: true },
									{ procedimiento: 'El asesor recomendó un paquete', ok: true }
								]
							},
							{
								rubro: 'Beneficios y promociones',
								calificacion: 35,
								detalles: [
									{ procedimiento: 'El asesor mencionó las ventajas de contratar la marca', ok: true },
									{ procedimiento: 'El asesor mencionó que se incluye Vix+ a partir de 60 MB', ok: true },
									{ procedimiento: 'El asesor mencionó las otras OTTs que ofrecemos', ok: true },
									{ procedimiento: 'El asesor mencionó la promoción de domiciliación', ok: true },
									{ procedimiento: 'El asesor mencionó la promoción de portabilidad', ok: true },
									{ procedimiento: 'El asesor mencionó el descuento para clientes nuevos', ok: true },
									{ procedimiento: 'El asesor mencionó la posibilidad de contratar izzi móvil', ok: true }
								]
							}

						]" [rowHover]="true">
							<ng-template pTemplate="header">
							<tr>
							<th class="headers"><h5 class="header__txt">Rubro</h5></th>
							<th class="headers"><h5 class="header__txt">Calificación</h5></th>
							</tr>
							</ng-template>

							<ng-template pTemplate="body" let-data>
							<tr class="row">
							<td colspan="2">
								<div class="fila-flex">
								<details class="rubro-toggle">
									<summary>
									<span class="toggle-icon"></span>
									<span class="p__icon">{{ data.rubro }}</span>
									</summary>
									<div class="detalles">
									<ul class="lista-detalles">
									<li *ngFor="let d of data.detalles">
										<span>{{ d.procedimiento }}</span>
										<i class="pi"
										[ngClass]="d.ok ? 'pi-check green' : 'pi-times red'"
										style="font-size:1rem"></i>
									</li>
									</ul>
									</div>
								</details>

								<div class="calif-fija">
									<p class="fila__info">{{ data.calificacion }}</p>
								</div>
								</div>
							</td>
							</tr>
							</ng-template>

							<ng-template pTemplate="footer">
							<tr class="subtotal">
							<td class="sub__txt">Subtotal:</td>
							<td class="sub__number">55 / 55</td>
							</tr>
							</ng-template>
						</p-table>
						</div>
					</div>

						<!-- Categoría 3 -->
					<div class="calif">
						<div class="categoria"><h5>Detalles y Dudas</h5></div>

						<div class="table__result">
						<p-table [value]="[
							{
								rubro: 'Instalación',
								calificacion: 10,
								detalles: [
									{ procedimiento: '¿El asesor mencionó el tiempo de instalación?', ok: true },
									{ procedimiento: '¿El asesor mencionó el pago anticipado en instalación?', ok: true }
								]
							},
							{
								rubro: 'Manejo de objeciones',
								calificacion: 10,
								detalles: [
									{ procedimiento: '¿Conoce productos y promociones de la competencia?', ok: true },
									{ procedimiento: '¿Asegura que izzi garantiza la calidad del servicio sin importar la tecnología?', ok: true }
								]
							}


						]" [rowHover]="true">
							<ng-template pTemplate="header">
							<tr>
							<th class="headers"><h5 class="header__txt">Rubro</h5></th>
							<th class="headers"><h5 class="header__txt">Calificación</h5></th>
							</tr>
							</ng-template>

							<ng-template pTemplate="body" let-data>
							<tr class="row">
							<td colspan="2">
								<div class="fila-flex">
								<details class="rubro-toggle">
									<summary>
									<span class="toggle-icon"></span>
									<span class="p__icon">{{ data.rubro }}</span>
									</summary>
									<div class="detalles">
									<ul class="lista-detalles">
									<li *ngFor="let d of data.detalles">
										<span>{{ d.procedimiento }}</span>
										<i class="pi"
										[ngClass]="d.ok ? 'pi-check green' : 'pi-times red'"
										style="font-size:1rem"></i>
									</li>
									</ul>
									</div>
								</details>

								<div class="calif-fija">
									<p class="fila__info">{{ data.calificacion }}</p>
								</div>
								</div>
							</td>
							</tr>
							</ng-template>

							<ng-template pTemplate="footer">
							<tr class="subtotal">
							<td class="sub__txt">Subtotal:</td>
							<td class="sub__number">20 / 20</td>
							</tr>
							</ng-template>
						</p-table>
						</div>
					</div>

					<div class="total">
						<h5>TOTAL:</h5>
						<h6 class="total__number"> 100 / 100 </h6>
					</div>
					</div>

					<div class="tabla__calificaciones" *ngIf="guia === 'guia_set_14'">
						<!-- Categoría 1 -->
						<div class="calif">
							<div class="categoria"><h5>Actitud de servicio</h5></div>

							<div class="table__result">
							<p-table [value]="[
							{
								rubro: 'Apertura, cierre y transferencia de llamada',
								calificacion: 5,
								detalles: [
								{ procedimiento: 'Cumplir con la estructura sin importar el orden', ok: true }
								]
							},
							{
								rubro: 'Habilidades de comunicación',
								calificacion: 5,
								detalles: [
								{ procedimiento: 'Presta total atención al cliente', ok: true },
								{ procedimiento: 'Utiliza palabras entendibles para el cliente', ok: true },
								{ procedimiento: 'No interrumpe al suscriptor', ok: true }
								]
							},
							{
								rubro: 'Cortesía y etiqueta',
								calificacion: 5,
								detalles: [
								{ procedimiento: 'Se dirige al cliente apropiadamente', ok: true },
								{ procedimiento: 'Siempre utiliza frases de cortesía', ok: true },
								{ procedimiento: 'Empatía con el cliente', ok: true },
								{ procedimiento: 'Al dejar al cliente en espera: informa, justifica el motivo y agradece', ok: true },
								{ procedimiento: 'Responde todas las preguntas que realiza el cliente', ok: true },
								{ procedimiento: 'No hace comentarios innecesarios al cliente', ok: true },
								{ procedimiento: 'Ante clientes difíciles', ok: true }
								]
							},
							{
								rubro: 'Tiempos de Espera',
								calificacion: 5,
								detalles: [
								{ procedimiento: 'Atender la llamada máximo al segundo 5 de haber ingresado', ok: true },
								{ procedimiento: 'Retoma correctamente la interacción al menos cada minuto.', ok: true },
								{ procedimiento: 'Tendrá hasta 4 minutos para retomar al cliente', ok: true },
								{ procedimiento: 'No solicita tiempo en espera al inicio de la interacción', ok: true },
								{ procedimiento: 'Deberá haber movimientos en la pantalla del Asesor acordes a la interacción', ok: true }
								]
							}


							]" [rowHover]="true">
							<ng-template pTemplate="header">
								<tr>
								<th class="headers"><h5 class="header__txt">Rubro</h5></th>
								<th class="headers"><h5 class="header__txt">Calificación</h5></th>
								</tr>
							</ng-template>

							<ng-template pTemplate="body" let-data>
								<tr class="row">
								<td colspan="2">
									<div class="fila-flex">
									<details class="rubro-toggle">
									<summary>
										<span class="toggle-icon"></span>
										<span class="p__icon">{{ data.rubro }}</span>
									</summary>
									<div class="detalles">
										<ul class="lista-detalles">
										<li *ngFor="let d of data.detalles">
											<span>{{ d.procedimiento }}</span>
											<i class="pi"
											[ngClass]="d.ok ? 'pi-check green' : 'pi-times red'"
											style="font-size:1rem"></i>
										</li>
										</ul>
									</div>
									</details>

									<div class="calif-fija">
									<p class="fila__info">{{ data.calificacion }}</p>
									</div>
									</div>
								</td>
								</tr>
							</ng-template>

							<ng-template pTemplate="footer">
								<tr class="subtotal">
								<td class="sub__txt">Subtotal:</td>
								<td class="sub__number">25 / 25</td>
								</tr>
							</ng-template>
							</p-table>
							</div>
						</div>

						<!-- Categoría 2 -->
						<div class="calif">
							<div class="categoria"><h5>Solución, Políticas y Procedimientos</h5></div>

							<div class="table__result">
							<p-table [value]="[

							{
							rubro: 'Validación de datos',
							calificacion: 12,
							detalles: [
								{ procedimiento: 'Solicitar teléfono o cuenta siempre.', ok: true },
								{ procedimiento: 'Confirmar nombre completo del titular.', ok: true },
								{ procedimiento: 'Identificar titular por nombre y apellido.', ok: true },
								{ procedimiento: 'Actualizar datos al generar caso.', ok: true },
								{ procedimiento: 'Validar teléfonos en casos de seguimiento.', ok: true }
							]
							},
							{
							rubro: 'Sondeo y Análisis',
							calificacion: 12,
							detalles: [
								{ procedimiento: 'Sondear necesidades con preguntas clave.', ok: true },
								{ procedimiento: 'Revisar historial para atender requerimiento.', ok: true },
								{ procedimiento: 'Preguntar e insistir en motivo de atraso.', ok: true },
								{ procedimiento: 'Preguntar e insistir en motivo de negativa.', ok: true }
							]
							},
							{
							rubro: 'Apego a políticas y procedimientos',
							calificacion: 12,
							detalles: [
								{ procedimiento: 'Aplica política de privacidad vigente.', ok: true },
								{ procedimiento: 'Aplica políticas si tuvo constancia.', ok: true },
								{ procedimiento: 'Indica documentos y procedimiento con claridad.', ok: true },
								{ procedimiento: 'Gestiona saldo vencido o próximo.', ok: true },
								{ procedimiento: 'Ofrece promociones ante negativa de pago.', ok: true },
								{ procedimiento: 'No duplicar promesas ya vigentes.', ok: true },
								{ procedimiento: 'No incitar a transferir a supervisor.', ok: true }
							]
							},
							{
							rubro: 'Solución y confirmación de acuerdos',
							calificacion: 12,
							detalles: [
								{ procedimiento: 'Confirma solución al finalizar llamada.', ok: true },
								{ procedimiento: 'Ofrece alternativas si hay escalamiento.', ok: true },
								{ procedimiento: 'Recapitula acuerdos y vigencia de promoción.', ok: true },
								{ procedimiento: 'Proporciona folio de caso al cliente.', ok: true },
								{ procedimiento: 'Ofrece opciones de pago siempre.', ok: true }
							]
							},
							{
							rubro: 'Manejo de la información',
							calificacion: 12,
							detalles: [
								{ procedimiento: 'Brinda información clara y precisa.', ok: true },
								{ procedimiento: 'Información alineada con sistemas vigentes.', ok: true },
								{ procedimiento: 'Informa vencimiento y ajustes de saldo.', ok: true }
							]
							}


							]" [rowHover]="true">
							<ng-template pTemplate="header">
								<tr>
								<th class="headers"><h5 class="header__txt">Rubro</h5></th>
								<th class="headers"><h5 class="header__txt">Calificación</h5></th>
								</tr>
							</ng-template>

							<ng-template pTemplate="body" let-data>
								<tr class="row">
								<td colspan="2">
									<div class="fila-flex">
									<details class="rubro-toggle">
									<summary>
										<span class="toggle-icon"></span>
										<span class="p__icon">{{ data.rubro }}</span>
									</summary>
									<div class="detalles">
										<ul class="lista-detalles">
										<li *ngFor="let d of data.detalles">
											<span>{{ d.procedimiento }}</span>
											<i class="pi"
											[ngClass]="d.ok ? 'pi-check green' : 'pi-times red'"
											style="font-size:1rem"></i>
										</li>
										</ul>
									</div>
									</details>

									<div class="calif-fija">
									<p class="fila__info">{{ data.calificacion }}</p>
									</div>
									</div>
								</td>
								</tr>
							</ng-template>

							<ng-template pTemplate="footer">
								<tr class="subtotal">
								<td class="sub__txt">Subtotal:</td>
								<td class="sub__number">60 / 60</td>
								</tr>
							</ng-template>
							</p-table>
							</div>
						</div>

						<!-- Categoría 3 -->
						<div class="calif">
							<div class="categoria"><h5>Manejo de Herramientas</h5></div>

							<div class="table__result">
							<p-table [value]="[
							{
								rubro: 'Uso de Herramientas',
								calificacion: 15,
								detalles: [
								{ procedimiento: 'Maneja adecuadamente CRM de apoyo', ok: true }
								]
							}


							]" [rowHover]="true">
							<ng-template pTemplate="header">
								<tr>
								<th class="headers"><h5 class="header__txt">Rubro</h5></th>
								<th class="headers"><h5 class="header__txt">Calificación</h5></th>
								</tr>
							</ng-template>

							<ng-template pTemplate="body" let-data>
								<tr class="row">
								<td colspan="2">
									<div class="fila-flex">
									<details class="rubro-toggle">
									<summary>
										<span class="toggle-icon"></span>
										<span class="p__icon">{{ data.rubro }}</span>
									</summary>
									<div class="detalles">
										<ul class="lista-detalles">
										<li *ngFor="let d of data.detalles">
											<span>{{ d.procedimiento }}</span>
											<i class="pi"
											[ngClass]="d.ok ? 'pi-check green' : 'pi-times red'"
											style="font-size:1rem"></i>
										</li>
										</ul>
									</div>
									</details>

									<div class="calif-fija">
									<p class="fila__info">{{ data.calificacion }}</p>
									</div>
									</div>
								</td>
								</tr>
							</ng-template>

							<ng-template pTemplate="footer">
								<tr class="subtotal">
								<td class="sub__txt">Subtotal:</td>
								<td class="sub__number">15 / 15</td>
								</tr>
							</ng-template>
							</p-table>
							</div>
						</div>

						<div class="total">
							<h5>TOTAL:</h5>
							<h6 class="total__number"> 100 / 100 </h6>
						</div>
					</div>

					<div class="resultados__derecha">

						<!-- <div class="reproductor">
							<h5>Grabación Llamada</h5>
							<p> {{ filename }} </p>
							<audio controls>
								<source src="{{this.rutaAudio}}" type="audio/mp3">
								    Tu navegador no soporta audio HTML5.
							 </audio>
						</div> -->

						<div class="mejoras">
							<h5>Mejoras recomendadas por MarIAna</h5>
							<ul>
								<li class="mejoras__p" *ngFor="let mejora of mejoras">
									<p style="font-size: 14px;">{{ mejora }}</p>
								</li>
							</ul>
						</div>
					</div>
				</div>

				

				<div class="grid">
					<div class="trans">
						<div class="container">
							<h5  style="max-width: 90%; margin: auto; color: #000;">Transcripción de la llamada</h5>

							<div class="player" *ngIf="showPlayer">				
								<audio controls style="margin: 0px auto 0px auto; max-width: 90%;">
									<source src="{{this.rutaAudio}}" type="audio/mp3">
									Tu navegador no soporta audio.
								</audio>
							</div>

							<div class="card-result--content mx-hg" >
								<p style="white-space: pre-line; text-align: justify; padding: 10px 0;" class="m-0">
									{{ transcripcion }}
								</p>
							</div>
						</div>
					</div>


					<div class="chat">
						<div class="container">
							<h5>Chat</h5>

							<div class="player">
								<span class="p-input-icon-left chat-input">
									<i class="pi pi-search"></i>
									<input type="text" pInputText (input)="filterChat($event)"  />
								</span>
							</div>
							<div class="card-result--content mx-hg" style="margin-top: 20px;" *ngIf="!search">
								<div *ngFor="let message of conversation">
									<p class="body-chat-o" *ngIf="message.AT; else client">AT: {{ message.AT }}</p>
					
									<div class="right-chat">
										<ng-template #client>
											<p class="body-chat-e">C: {{ message.C }}</p>
										</ng-template>
									</div>
								</div>
							</div>
							<div class="card-result--content mx-hg" *ngIf="search">
								<div *ngFor="let message of filteredChatObject">
									<p class="body-chat-o" *ngIf="message.AT; else client">AT: {{ message.AT }}</p>
					
									<div class="right-chat">
										<ng-template #client>
											<p class="body-chat-e">C: {{ message.C }}</p>
										</ng-template>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>



            </div>


		</div>


		
	</div>

<p-toast></p-toast>
