<div class="component__content">
    <!-- <app-breadcrumb [pageTitle]="'Asignacion de Audios > Individual' "></app-breadcrumb> -->

    <div class="filtros" [class]=" mode ? 'filtros--dark' : 'filtros--light' ">
        <div class="celda">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input placeholder="Agente" [(ngModel)]="agente" type="text" pInputText (ngModelChange)="filtrando()" />
            </span>
        </div>

        <div class="celda">
          <p-dropdown [options]="roles" placeholder="Rol" [style]="{'width':'200px'}" optionLabel="rol" formControlName="rol"></p-dropdown>
        </div>

        <!-- <i class="pi pi-user-plus" style="font-size: 2rem"
        pTooltip="Añadir Usuario" tooltipPosition="top"></i> -->
    </div>

    <div class="users">
        <p-table
          #dt1
          [globalFilterFields]="['name']"
          [value]="usuarios"
          [rows]="100"
          [rowHover]="true"
          [paginator]="true"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas">
          <ng-template pTemplate="header">
            <tr>
              <th [class]="mode ? 'header--dark' : 'header--light'" *ngFor="let header of headers" class="header">
                <div class="flex justify-content-center align-items-center text">
                  {{header}}
                </div>
              </th>
            </tr>
          </ng-template> 
      
          <ng-template pTemplate="body" let-user>
            <tr [class]="mode ? 'body--dark' : 'body--light'">
              <td class="text">
                <p>{{user.name}}</p>
              </td>
              <td class="text">
                <p>{{user.rol}}</p>
              </td>
              <td class="text">
                <p>{{user.email}}</p>
              </td>
              <td class="text">
                <p>{{user.user}}</p>
              </td>
              <td class="icons">
                <i class="pi pi-user-edit" style="font-size: 1.8rem"
                pTooltip="Editar" tooltipPosition="top" (click)="editUserFn(user)"></i>

                <i class="pi pi-trash" style="font-size: 1.8rem"
                pTooltip="Eliminar" tooltipPosition="top" (click)="confirmaEliminaUsuario(user)"
                ></i>                  
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>      
</div>

<div *ngIf="editUserModal" class="modal__bot">
  <form class="modal__bot-content"[formGroup]="usuarioEditForm">
    <div class="close__btn">
      <div class="close" (click)="editUserModal = !editUserModal; getUsers()">
        X
      </div>
    </div>

    <div class="input__field">
      <label>Usuario</label>
      <input pInputText [readonly]="true" aria-describedby="username-help" formControlName="user" />
    </div>

    <div class="input__field">
      <label>Correo:</label>
      <input [readonly]="true" pInputText aria-describedby="username-help" formControlName="email"  />
    </div>

    <div class="input__field">
      <label>Nombre:</label>
      <input pInputText aria-describedby="username-help" formControlName="name"  />
    </div>

    <div class="input__field">
      <label>Rol:</label>
      <p-dropdown [options]="roles" placeholder="Rol" [style]="{'width':'200px'}" optionLabel="rol" formControlName="rol"></p-dropdown>
    </div>

    <p-button class="generando__btn" label="Guardar" (click)="guardarCAmbioUsuario()" [disabled]="this.usuarioEditForm.invalid" ></p-button>
  </form>

</div>

<p-toast></p-toast>
