<div class="text-900 font-bold text-2xl mb-4 text-center" style="background-color: #FFBF00 ;color: white !important;">Importar bases Casos de Negocio Cobranza</div>

<div class="card" style="padding-left: 1rem;">
  <p-panel header=""
    class="line-height-12 m-0">
    <!-- INICIO DE INPUTS -->
    <!-- <h5>Tipo de Cuenta</h5> -->
      <div class="p-fluid p-formgrid grid m-2 flex justify-content-center">
        <div class="col-6 text-center">
            <input type="file" id="file" accept=".csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="readExcel($event)">
            <!-- <p-progressSpinner *ngIf="spinner"></p-progressSpinner> -->
        </div>
    </div>
    <div class="grid flex justify-content-center">
        <div class="col-4 text-center">
            <button
            mat-button 
            (click)="saveExcel()"
            pButton
            [disabled]="button"
            label="Importar Base"
            style="width:auto; background-color: #FFD966;  border: 0; margin-right: 10px;">
        </button> 
            <p-progressSpinner
          *ngIf="spinner"
          [style]="{width: '40px', height: '40px'}"
          strokeWidth="4"
          animationDuration=".5s"
          styleClass="custom-spinner">
        </p-progressSpinner>
        <button
          mat-button
          (click)="resetFileInput()"
          pButton
          label="Vaciar"
          style="width:auto; background-color: #FF6666; border: 0;">
        </button>     
        </div>
    </div>

  </p-panel>
  <br>

</div>
<p-toast
  [baseZIndex]="99999"
  key="tst"></p-toast>

  <div class="row" *ngIf="tabla">
    <div class="cols">
      <div class="card">
        <p-table #dt1 [value]="ExcelData" dataKey="Caso de negocio" [rows]="50" [rowHover]="true" [rowsPerPageOptions]="[50,100,500,1000]"
            styleClass="p-datatable-gridlines" [paginator]="true"
            responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Cliente
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Caso de Negocio
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Nº de actividad

                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Estado de la asignación

                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Vencimiento
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Comentarios CN
                        </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                          Área de conocimiento
                      </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                          Fecha de asiganción
                      </div>
                    </th>
                    <th>
                      <div class="flex justify-content-between align-items-center">
                          Status
                      </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Usuario
                        </div>
                    </th>  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                    <td>
                        {{item.Cliente}}
                    </td>
                    <td>
                        {{item['CasoNegocio']}}
                    </td>
                    <td>
                      {{item.NumActividad}}
                    </td>
                    <td>
                        {{item.EstadoAsignacion}}
                    </td>
                    <td>
                       {{ dateFormat(item.Vencimiento) }}
                    </td>
                    <td>
                      {{item.ComentariosCN}}
                    </td>
                    <td>
                      {{item.AreaConocimiento}}
                    </td>
                    <td>
                      {{ dateFormat(item.FechaAsignacion) }}
                    </td>
                    <td>
                        {{item.Status}}
                    </td>
                    <td>
                        {{item.Cve_usuario}}
                    </td>
          
    
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">Sin Datos para Mostrar.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7">Cargando Datos, espere...</td>
                </tr>

            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
                Mostrando {{(state.page  * state.rows) + 1}} a {{state.rows * (state.page + 1)}} de {{state.totalRecords}} registros.
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
