<!-- <div class="form-container">
    <form [formGroup]="editForm" (ngSubmit)="guardar()">
      <label for="user">Usuario:</label>
      <input id="user" formControlName="user" type="text">
      
      <label for="email">Correo:</label>
      <input id="email" formControlName="email" type="email">
      
      <label for="active">Activo:</label>
      <input id="active" formControlName="active" type="text">
      
      <label for="name">Nombre:</label>
      <input id="name" formControlName="name" type="text">
      
      <label for="rol">Rol:</label>
      <input id="rol" formControlName="rol" type="text">
      
      <label for="staff">Staff:</label>
      <input id="staff" formControlName="staff" type="text">
      
      <button type="submit">Guardar</button>
      <button type="button" (click)="cancelar()">Cancelar</button>
    </form>
  </div>
   -->