<!-- verify.component.html -->
<div *ngIf="loading" class="loading-screen">
    <p>Cargando Verificacion Con Microsoft...</p>
  </div>
  <div *ngIf="!loading" class="component__content">
    <div class="filtros" [class]="mode ? 'filtros--dark' : 'filtros--light'">
      <div class="celda">
        <p>Contenido de verificación</p>
      </div>
    </div>
  </div>
  <div *ngIf="staff === 'wincallmx'" class="selector__staff">
  <p>Selecciona tu destino:</p>
  <button (click)="goTo('/mariana')">Ir a Mariana</button>
  <button (click)="goTo('/home')">Ir a CX</button>
</div>
